<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title_outer %}{% block title %}{% endblock %} | Uptwinkles{% endblock %}</title>

  <!-- Meta -->
  <meta name="description" content="Philly animal activist hub.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="#3FC3B6">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">

  <!-- Open Graph protocol -->
  <meta property="og:title" content="Uptwinkles Housing Collective">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://uptwinkles.co">
  <meta property="og:image" content="">
  <meta property="og:description" content="Philly animal activist hub.">
  <meta property="og:locale" content="en_US">

  <!-- styles -->
  <link rel="stylesheet" href="./style.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Da|Nova+Square|Nunito+Sans" rel="stylesheet">

</head>

<body class="{{current.source}}">

  <div class="menu">
    <nav class="colorful">
      <a {% if current.source == 'index' %} class="active"{% endif %} href="/index">{ Home } </a>
      <a {% if current.source == 'about' %} class="active"{% endif %} href="/about">{ About }</a>
      <a {% if current.source == 'animal-rights' %} class="active"{% endif %} href="/animal-rights">{ Animal Rights }</a>
      <a href="https://blog.uptwinkles.co" target="_blank">{ Blog }</a>
      <a href="https://manual.uptwinkles.co" target="_blank">{ Manual }</a>
      <a {% if current.source == 'apply' %} class="active"{% endif %} href="/apply">{ Apply }</a>
    </nav>
  </div>

  {% block outer_content %}
    <div class ="content">
      {% block content %}{% endblock %}
    </div>
  {% endblock %}

  <footer class="colorful">
      <div class="footer-column">
        <p>Uptwinkles
        <p>e: hello@uptwinkles.co</p>
      </div>

      <div class="footer-column">
        <p>This website is free software and is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL 3.0</a></p>
        <p>Visit Uptwinkles on <a href="https://gitlab.com/uptwinkles">GitLab</a>!</p>
        <p>Apply to join us! Fill out <a href="/apply">this form</a>.
      </div>

      <div class="footer-column">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/about#mission">Mission and Vision</a></li>
          <li><a href="/philosophy">Our Philosophy</a></li>
          <li><a href="/about#living">Living at Uptwinkles</a></li>
          <li><a href="/space">Community Space</a></li>
          <li><a href="/animal-rights">Animal Rights</a></li>
          <li><a href="/free-software">Free Software</a></li>
          <li><a href="/projects">Uptwinkles Projects</a></li>
        </ul>
      </div>
  </footer>

</body>
</html>
