{% extends "_base.njk" %}

{% block title %}About Uptwinkles{% endblock %}


{% block content %}
  <a name="living"></a>
  <h2>Living at Uptwinkles</h2>

  <div class ="content_page">
    <div class="primary_content">
      <h3>The Basics</h3>

        <p>Located in Point Breeze, Philadelphia, Uptwinkles aims to be the communal-living haven you never knew you were missing. With 5 bedrooms, a large amount of indoor common space (including a finished basement), and a second-story deck, there is always room to stretch your legs. </p>

        <p>Uptwinkles residents enjoy hanging out in the living room with friends, playing games together, and working on our own personal projects as well as contributing to house projects and activism.</p>

      <h3>About Communal Living</h3>

        <p>Communal living is centered around the idea of sharing, and the theory that when we all share our resources and work together&mdash;everyone will benefit. Communal living is a way to hack capitalism, and regain a level of community control in the day to day. Uptwinkles aims to provide a replicable framework that can be copied anywhere. If you would like to start your own communal house, check out our <a href="https://manual.uptwinkles.co/">manual</a> and the <a href="https://gitlab.com/uptwinkles">tools</a> we are building.</p>

        <p>Residents at Uptwinkels participate in communal living through work sharing (like our rotating chore wheel), resource sharing (if you have access to something, share with others!), and group bulk purchasing. Doing things this way allows us to save money and energy by pooling the resources of the group to reap a greater reward than we would each be able to individually.</p>

      <h3>Member Expectations</h3>

        <p>Uptwinkles is an animal rights house. Members of the house are expected to work alongside <a href="https://liberationphilly.org/" target="_blank">Liberation Philadelphia</a>.</p>
        <p>A complete picture of member expectations can be found in our <a href="https://manual.uptwinkles.co/" target="_blank">manual</a>.</p>

      <h3>Application Process</h3>

        <p>We are currently seeking up to two more roommates! Please complete <a href="/apply">this form</a> if you are interested.</p>

      <h3 class="read-more">Learn more about day to day living at Uptwinkles on <a href="http://blog.uptwinkles.co">our Blog</a>!</h3>

  </div>

    <div class ="page_pics">
      <img src="./images/house_outside.jpg" class="polaroid">
      <img src="./images/colin_reads.jpg" class="polaroid">
      <img src="./images/fridge.jpg" class="polaroid">
    </div>

  </div>

  <a name="mission"></a>
  <h2>Our Mission and Vision</h2>

  <div class ="content_page">
    <div class="primary_content">
      <h3>Our Mission</h3>

        <p>Uptwinkles aims to provide a consensus-based community space for the animal rights community in Philadelphia to grow.</p>

      <h3>Our Vision</h3>

        <p>At Uptwinkles, we imagine a world unfettered by the abuses of capitalism, racism, sexism, speciesism, and the state. We envision a world where communities are taking back control of their lives&mdash;including the food they eat, the way they interact with the greater world, and the tools they rely on.</p>

        <p>While this may sound idealistic and far-fetched for now, we see no reason to not start creating this world from the ground up. Through communal living we are providing a way for people to put these ideals into practice at home, and we hope that other houses across Philadelphia (and beyond!) will follow our path and do the same.</p>

        <p>Additionally, we aim to provide a space for activists across movements to meet, work, and hang out. Approved activists can also have 24/7 access to the common spaces and make use of our secure tech space (coming soon!)</p>

        <p>Uptinkles prioritizes women, and is a female-centric space.</p>

      <h3>Why "Uptwinkles"?</h3>

        <p>At Uptwinkles we use consensus-based decission making for everything ranging from large decissions on the direction of the house to everyday squabbles. Consensus, though sometimes a more arduous process, ensures that everyone's voice is heard and everyone has the ability to feel comfortable in their space.</p>

        <p>The name "Uptwinkles" comes from the consensus hand-signal meaning "I agree". We like this name because it reflects a core tennant of our philosophy (community control) in a lighthearted and fun way!</p>

      <h3>For more info on our organizing principles, check out <a href="/philosophy">our Philosophy</a>.</h3>

  </div>

    <div class ="page_pics">
      <img src="./images/mansi_writes.jpg" class="polaroid">
      <img src="./images/hands.jpg" class="polaroid">
    </div>

  </div>
{% endblock %}
