{% extends "_base.njk" %}

{% block title %}
  Animal Rights
{% endblock %}

{% block content %}
  <h2>A Hub for Animal Rights Activism</h2>

  <div class ="content_page">
    <div class="primary_content">
      <h3>Animal Liberation as a Social Justice Issue</h3>

        <p>At Uptwinkles, we respect the right to freedom and dignity of all individuals. This obviously includes fighting for the rights of oppressed humans such as people of color, women and gender minorities, and immigrants. For us, this also includes a group that is often ignored in social justice circles: non-human animals.</p>

        <p>Non-humans are (by the <a href="http://www.occupyforanimals.net/animal-kill-counter.html">numbers</a>) the most oppressed group on the planet. Although other animals have been <a href="http://www.livescience.com/39481-time-to-declare-animal-sentience.html">known by scientists</a> for years to be sentient and unique individuals who feel pain, they are still subjected to some of the <a href="https://www.youtube.com/watch?v=p_UpyY2MIOc">worse treatment</a> on Earth. </p>

        <p>Most people object to animal abuse (especially when it comes to dogs, cats, or other "pets" we love), and yet most people still contribute to this system of oppression. At Uptwinkles, we are making it a priority to change that.</p>

      <h3>Vegan House</h3>

        <p>Uptwinkles is a vegan house&mdash;meaning food that comes from animal-products is not allowed in the house (we make exception for food to feed our obligate carnivore companions). We make a conscious effort to avoid purchasing items that were tested on animals or contain animal ingredients for the house, and residents are expected to be anti-speciesist in thought and action at all times.</p>

      <h3>Hub for Animal Activism</h3>

        <p>Uptwinkles often serves as a hub for animal activists, and is the unofficial headquarters for <a href="http://liberationphilly.org">Liberation Philadelphia</a>.</p>

        <p>The space is <a href="/space">avilable for use</a> by activists to host meetings, events, or get-togethers, and can serve as a temporary rescue location for animals in need. If you would like to use Uptwinkles for animal activism, please contact hello@uptwinkles.co.</p>

      <h3>Uptwinkles Rat Santuary</h3>

        <p>The house is home to <a href="/rat-sanctuary">Uptwinkles Rat Sanctuary</a>, a <a href="http://www.microsanctuarymovement.org/">microsanctuary</a> for rats rescued from labs, breeding for snake food, and other systems of human exploitation. We do not provide fostering, but rather a loving forever-home for these rats. If you know of a rescued rat who needs a home, please contact Mary Kate Fain at: mk@marykatefain.com</p>

    </div>

    <div class ="page_pics">
      <img src="./images/animal_liberation.jpg" class="polaroid">
      <img src="./images/falafel.jpg" class="polaroid">
      <img src="./images/colin_suzanne.jpg" class="polaroid">
    </div>

  </div>


{% endblock %}
