{% extends "_base.njk" %}

{% block title %}Apply{% endblock %}

{% block content %}
  <h2>Apply to Live at Uptwinkles</h2>

  <div class ="content_page">

      <div class="form">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfbKY64HxN4a2vZk508Crx49eI0YlPm2tz0T3Nc9UPOwL47PQ/viewform?embedded=true" width="860" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>

  </div>

{% endblock %}
