{% extends "_base.njk" %}

{% block title %}
  Free Software
{% endblock %}

{% block content %}
  <h2>Free Software Tech Solutions</h2>

  <div class ="content_page">
    <div class="primary_content">
      <h3>What is Free Software?</h3>

        <p>First of all, we mean free as in <em>freedom</em>, not free as in <em>free beer</em>. Free software is software that respects the freedom of the user, and includes 4 core tennants:</p>

        <ol>
          <li>The freedom to run the program, for any purpose.</li>
          <li>The freedom to study how the program works, and adapt it to your needs.</li>
          <li>The freedom to redistribute copies so you can help your neighbor.</li>
          <li>The freedom to improve the program, and release your improvements to the public, so that the whole community benefits.</li>
        </ol>

      <h3>The Dangers of Proprietary Software</h3>

        <p>Soooo.... Why is this important? Who cares if we can edit a program? Don't companies have a right to control their proprietary software?</p>

        <p>What the vast majority of people don't realize is how much power non-free software removes from the community. When companies can control how a program is used, what can be done with it, who can use it, what happens to the data it collects, and how that data will be used... The users of the software actually <em>become the ones being used</em>.</p>

        <p>Companies like Google, IBM, Facebook, and Apple spy on their users, and often work with the government to share data on the population with law enforecement. Data is used to manipulate people based on their interests, demographics, and emotions into buying products they don't need and becoming further entrentched in capitalistic abuse.</p>

        <p>While this may seem trivial to some people now (though we hope it doesn't), the dangers of proptietary software grow exponentially as we draw nearer and nearer to a future run by computers. Imagine a world where every mundane task is run by a program. Where robots make your take-out order; cars, buses, and trains drive themselves; and people practically have phones embedded into their heads. This future is not that far away. Now... imagine all of that technology being controlled by companies with no obligation to the public good, just driven by the desire to make more and more money. Freaked out yet?</p>

      <h3>Software, Security, and Activism</h3>

        <p><em>"To use free software is to make a political and ethical choice asserting the right to learn, and share what we learn with others." - <a href="https://www.fsf.org/about/what-is-free-software">Free Software Foundation</a></em></p>

        <p>The future looks pretty grim when we really think about it. But, there are solutions! Free software applies the principles of <a href="/philosophy">anarcho-communism</a> to the most powerful force in our society: technology. Refusing to use non-free software is a moral obligation if we want to achieve a better future for everyone.</p>

        <p>In addition to the ethical concerns about using dangerous propriety software, there are also practical concerns for activists. Using propriety software to communicate and organize is a security risk, as the control of the data has been removed from the user. Microsoft reports security concerns to the NSA before the public so the NSA can use the exploits for surviellance. Companies such as Facebook have already been known to cooperate with law enforecement and turn over user information, and we shuld expect more to follow.</p>

      <h3>Free Your Tech</h3>

        <p>If you are an activist (or even just a concerned citizen), bring us your computer and we will help you remove all dangerous software and teach you about using more secure and free solutions.</p>

        <p>We are also in the process of building a set of fully-free Libre Boot computers to be sold to those who can afford to chip in for our costs, or given to those who can not. If you are in need of a computer, please contact us (especially if you are an activist!) at hello@uptwinkles.co </p>

  </div>

    <div class ="page_pics">
      <img src="./images/alex_outside.jpg" class="polaroid">
      <img src="./images/communist_linux.png" class="polaroid">
      <img src="./images/coding.jpg" class="polaroid">
      <img src="./images/mansi_work.jpg" class="polaroid">
      <img src="./images/laptop.jpg" class="polaroid">

    </div>

  </div>


{% endblock %}
