{% extends "_base.njk" %}

{% block title_outer %}Uptwinkles{% endblock %}

{% block outer_content %}
  <header>
    <section id="banner">
      <div>
        <h1>Uptwinkles</h1>
        <h2 class="subtitle">{% raw %}{{ philly animal activist hub }}{% endraw %}</h2>
      </div>
    </section>
  </header>

  <section id="about">
    <div>
      <h2>Get to Know Us</h2>
      <ul class="bubble_items">
        <li><a href="/about#living">
          <img src="/images/hathor_red.jpg" class="bubble">
          <h3>Living at Uptwinkles</h3></a>
          <a class="button" href="/living">Get to know us</a>
        </li>

        <li><a href="/space">
          <img src="/images/mansi_work.jpg" class="bubble">
          <h3>A Space for Activists</h3></a>
          <a class="button" href="/space">Discover our space</a>
        </li>

        <li><a href="/about#mission">
          <img src="/images/kale_square.jpg" class="bubble">
          <h3>Our Mission and Vision</h3></a>
          <a class="button" href="/about#mission">Learn our mission</a>
        </li>
      </ul>
    </div>
  </section>

  <section id="freedom" class="colorful">
    <div class="floating_img">
      <img src="/images/animal_liberation.jpg" class="polaroid">
      <div>
        <h2>Animal Rights Hub</h2>
        <p>Uptwinkles members are active in the fight for animal liberation, and organize and participate in a variety of events. Uptwinkles can also serve as a temporary rescue shelter for animals in need.</p>
        <p>Uptwinkles is a vegan house, and often serves as headquarters to <a href="http://liberationphilly.org">Liberation Philadelphia</a>. Members are expected to be anti-speciesist in thought and action, as well as respecting the rights and dignity of all human people, regardless of race, gender, orientation, religion, or ability.</p>
        <p class="right"><a class="button" href="/animal-rights">Get active</a></p>
      </div>
    </div>
  </section>

  <!-- Garden photo -->
  <section id="home_img2"></section>
{% endblock %}
