{% extends "_base.njk" %}

{% block title %}
  The Space
{% endblock %}

{% block content %}
  <h2>A Space for Activists</h2>

  <div class ="content_page block">
    <div class="primary_content">
      <h3>Upcoming Office Hours</h3>

        <h4>To be announced!</h4>

    </div>
  </div>
<!--
    <div class ="page_pics">
      <img src="./images/team_meeting.jpg" class="polaroid">
      <img src="./images/family.jpg" class="polaroid">
    </div>
  -->

  </div>

{% endblock %}
