{% extends "_base.njk" %}

{% block title %}
  Our Philosophy
{% endblock %}

{% block content %}
  <h2>Our Philosophy</h2>

  <div class ="content_page">
    <div class="primary_content">
      <h3>Why Communal Living?</h3>

        <p>Communal living is centered around the idea of sharing, and the theory that when we all share our resources and work together&mdash;everyone will benefit. Communal living is a way to hack capitalism, and regain a level of community control in the day to day. Uptwinkles aims to provide a replicable framework that can be copied anywhere. If you would like to start your own communal house, check out our <a href="https://manual.uptwinkles.co/">manual</a> and the <a href="https://gitlab.com/uptwinkles">tools</a> we are building.</p>

      <h3>What is Anarcho-Communism?</h3>

        <p>Anarcho-Communism is a theory of anarchism which advocates the abolition of the state, capitalism, wage labour, and private property (while retaining respect for personal property), and in favor of common ownership of the means of production,direct democracy, and a horizontal network of voluntary associations and workers' councils with production and consumption based on the guiding principle: "from each according to his ability, to each according to his need". (From <a href="https://en.wikipedia.org/wiki/Anarchist_communism">Wikipedia</a>)</p>

        <p>We abide by these principles in our day to day life at the house in a few ways:</p>

        <ol>
          <li><strong>Non-heirarchical</strong> consensus-based decission making</li>
          <li><strong>Common Property:</strong> anything stored in the common areas is available for use by all, including all food</li>
          <li>Pooling resources to <strong>hack capitalism</strong>: buying bulk together allows us to produce greater shares for our costs than we would alone</li>
          <li>Seizing the means of production through <strong>free software</strong> and a DIY attitude</li>
          <li>Need based distribution: When one of our members has extra resources while others are in need, they are expected to <strong>redistribute their resources</strong> to the member in need</li>
        </ol>

      <h3>Why Women-Centered?</h3>

        <p>At Uptwinkles we are a women-centered space. We prioritize women's safety and voices, and consider ourselves radical feminists. </p>


      <h3>Why Animal Liberation?</h3>

        <p>Please see our detailed <a href="/animal-rights">animal rights</a> page.</p>

      <h3>Why Free Software?</h3>

        <p>Please see our detailed <a href="/free-software">free software</a> page.</p>


      <h3>So Are You All Some Type of Extremists...?</h3>

        <p>Maybe! But we hope this doesn't scare you away. The fact is, our society is faced with some pretty extreme issues&mdash;so any real solution to these issues will necessarily be equally extreme. However, our "extreme" approach should not be misread. Non-violence in both action and communication is a core tennant of our philosophy, and violence of any form will not be tolerated.</p>

        <p>If you are interested in learning more about our philosophy or learning how grassroots organizing can make a difference in your community, we'd love to chat with you! Swing by for a cup of coffee some time, or email hello@uptwinkles.co</p>
  </div>

    <div class ="page_pics">
      <img src="./images/anarcho_com.png" class="polaroid">
      <img src="./images/protest.jpg" class="polaroid">
      <img src="./images/communist_linux.png" class="polaroid">
    </div>

  </div>

{% endblock %}
