{% extends "_base.njk" %}

{% block title %}
  Projects
{% endblock %}

{% block content %}
  <h2>Current Projects</h2>

  <p>Page coming soon! For now, check out our <a href="https://gitlab.com/uptwinkles">GitLab</a> to see what we are working on and contribute.</p>

{% endblock %}
