{% extends "_base.njk" %}

{% block title %}
  Rat Sanctuary
{% endblock %}

{% block content %}
  <h2>Uptwinkles Rat Santuary</h2>

  <div class ="content_page">
    <div class="primary_content">

      <h3>Rescuing Animals In Need</h3>

        <p>Uptwinkles Rat Sanctuary is a <a href="http://www.microsanctuarymovement.org/">microsanctuary</a> for rats rescued from labs, breeding for snake food, and other systems of human exploitation. We do not provide fostering, but rather a loving forever-home for these rats. Thanks to a generous grant from the <a href="http://www.microsanctuarymovement.org/grants/">Microsanctuary movement</a>, we will soon be able to provide homes for up to 12 rats at a time.</p>

      <h3>Get Involved!</h3>
        <p>If you know of a rescued rat who needs a home, please contact Mary Kate Fain at: mk@marykatefain.com. First priority always goes to rats used in labs, and we are happy to help facilitate rescue efforts.</p>

        <p>If you would like to learn about caring for rats, we would be happy to teach you! Feel free to stop by in person, or get in touch with any questions. Many of our rats love to play and socialize - so guests are welcome to interact with them in a supervised setting.</p>

        <p>Donations can also be accepted. if you would like to donate, please get in touch with Mary Kate. (Uptwinkles Rat Sanctuary is NOT a 501c3 and therefore donations are not tax deductable).</p>

    </div>

    <div class ="page_pics">
      <img src="./images/rat-face.jpg" class="polaroid">
      <img src="./images/sleepy-rat.jpg" class="polaroid">
    </div>

  </div>


{% endblock %}
