{% extends "_base.njk" %}

{% block title %}
  The Space
{% endblock %}

{% block content %}
  <h2>A Space for Activists</h2>

  <div class ="content_page">
    <div class="primary_content">
      <h3>The Space</h3>

        <p>Although it may not appear so from the outside, Uptwinkles is a surprisingly large house. The top two floors are bedrooms, and the ground floor and finished basement are common areas. There is also a deck on the second story which is available for use and hosts a communal garden.</p>

        <p>Community activists are welcome to use any of our communal spaces for purposes related to their activism for free upon request. The living room and dining room make a great event space, and the basement is set up as a communal work area great for just sitting and being productive, or hosting smaller meetings.</p>

      <h3>Office Hours</h3>

        <p>We try to make Uptwinkles as accessible as possible to the public given that it is also a private residence. To facilitate this, we will be hosting weekly "office hours" dueing with an Uptwinkles resident or trusted member will be present. During these hors, people are welcome to drop by and use any of the resouces we provide, including the meeting space.</p>

        <p>Ask one of our residents to show you how to use the expresso machine, make yourself a latte, and be productive!</p>

        <p><a href="/office-hours">View our upcoming office hours</a>

      <h3>Guidelines</h3>

        <p>Anyone using the space must abide by a few guidelines to keep the space safe and clean for everyone:</p>

        <ol>
          <li>Return the space in the same condition as you found it (or better!)</li>
          <li>Do not leave the doors open, and be mindful of the non-human residents' safet</li>
          <li>Discrimination based on race, sex, gender, orientation, religion, ability, or species will not be tolerated</li>
          <li>Uptwinkles is a vegan house, and non-vegan food is not allowed on premesis.</li>
          <li>Respect the house rules (see our <a href="https://manual.uptwinkles.co/">manual</a>), and ask if you have any questions!</li>
        </ol>

      <h3>Reserve a Space!</h3>

        <p>Please email hello@uptwinkles.co to schedule your meetup!</p>

  </div>

    <div class ="page_pics">
      <img src="./images/team_meeting.jpg" class="polaroid">
      <img src="./images/family.jpg" class="polaroid">
    </div>

  </div>

{% endblock %}
