body {
  background-color: #F9F9F9;
  font-family: 'Nunito Sans', sans-serif;
  color: #3A0031;
  margin: 0;
}

h1 {
  font-family: 'Baloo Da', cursive;
  color: #FFFFFF;
  font-size: 15vw;
  text-align: center;
  margin: 0px auto 10px auto;
  padding-top: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}


h2 {
  font-family: 'Nova Square', cursive;
  font-size: 2em;
  text-align: center;
}


h2.subtitle {
  color: #FFFFFF;
  margin-top: -40px;
  text-shadow: 1px 1px 2px black;
}

@media (max-width: 600px) {
  h2.subtitle {
    margin-top: 0px;
    font-size: 5vw;
  }
}

h3 {
  font-family: 'Nova Square', cursive;
  text-align: center;
}

h3 a {
  text-decoration: underline;
}


a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
}

a:hover,
a.active {
  color: #00D5CD;
}

a.button {
  display: inline-block;
  background: #3A0031;
  color: white;
  padding: 5px 10px;
  border: 3px solid #3A0031;
  border-radius: 4px;
  text-decoration: none;
}

a.button:hover {
  background: white;
  color: #00D5CD;
  border: 3px solid #00D5CD;

}

p {
  font-family: 'Nunito Sans', sans-serif;
  max-width: 700px;
}

p a {
  text-decoration: underline;
}

.right {
  text-align: right;
}

/*home styles*/

header {
  background-image: url("./images/house_cover.jpg");
  background-position: center;
  padding-bottom: 20px;
  background-size: cover;
}

section {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: auto;
  min-height: 400px;
  align-items: center;
}

@media (max-width: 600px) {
  #banner {
    min-height: 200px;
  }
}

.colorful {
  background-color: #3A0031;
  color: #FFFFFF;
}

.colorful a {
  color: #FFFFFF;
}

.colorful a.active,
.colorful a:hover {
  color: #00D5CD;
}

.colorful a.button {
  background: transparent;
  color: white;
  border-color: white;
}

.colorful a.button:hover {
  background: white;
  color: #00D5CD;
}

img.bubble {
  border-radius: 100%;
  padding: 2px;
  border-width: 3px;
  border-color: #3A0031;
  border-style: solid;
  width: 175px;
  height: 175px;
  transition: 0.2s;
}

img.bubble:hover {
  border-color: #00D5CD;
}

.bubble_items {
  display: flex;
  list-style: none;
  justify-content: center;
  text-align: center;
  margin: 50px auto;
}

@media (max-width: 600px) {
  .bubble_items {
    flex-direction: column;
    padding: 0 0;
    margin: 0 auto;
  }
}

.bubble_items li {
  width: 300px;
  padding: 0 10px;
}

@media (max-width: 600px) {
  .bubble_items li {
    margin-bottom: 20px;
  }
}

.floating_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.polaroid {
  border-style: solid;
  border-width: 10px;
  border-color: #F9F9F9;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  margin-right: 50px;
  width: 250px;
  height: 250px;
  box-shadow: -2px 2px 2px #919191}

@media (max-width: 600px) {
  .polaroid {
    display: none;
  }
}

section#home_img2 {
  background-image: url("./images/deck_garden.jpg");
  background-position: center;
  background-size: cover;
}

/*template styles*/
.content {
  min-height: 400px;
  padding: 0 40px;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #3A0031;
  padding: 10px;
}

@media (max-width: 600px) {
  nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.content h2{
  text-align: left;
}

.content h3{
  text-align: left;
}

.content_page {
  display: flex;
  justify-content: space-around;
}

.block {
  display: block;
}

.primary_content {
  max-width: 600px;
}

.page_pics {
  display: flex;
  flex-direction: column;
}

.page_pics img.polaroid {
  margin-bottom: 50px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-color: #DFDFDF;
}

.page_pics img.polaroid:nth-child(odd) {
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  box-shadow: 2px 2px 2px #919191
}

ol li {
  margin-bottom: 10px;
}

.form {
  width: 100%;
}

.form iframe {
  margin-left: 0px;
  margin-bottom: 50px;
}

/*footer*/

footer {
  display: flex;
  justify-content: space-around;
}

.footer-column {
  padding: 10px;
  min-width: 20%;
}

@media (max-width: 600px) {
  footer {
    display: block;
    padding: 10px 20px;
    min-height: 500px;
  }
}

footer li {
  list-style: none;
  text-decoration: none;
}
